.footer{
    display: flex;
    padding: 100px 50px;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
}

.footer-text{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 30%;
    margin-right: 30px;
}

.footer-text p{
    margin-top: 7px;
    opacity: .5;
}

.footer-span{
    width: 30%;
    margin-right: 30px;
}

.footer-span >hr{
    width: 100%;
    border: 1px solid rgb(224, 222, 222);
}

.footer-icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.footer-icons i{
    display: flex;
}
